.unitateak:hover {
    fill: #777;
}

.eskualde-mugak {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
    stroke-linejoin: round;
}

.kanpo-mugak {
    fill: none;
    stroke: #777;
    stroke-width: 2px;
    stroke-linejoin: round;
}

#kontainerra {
    margin: 0 auto 0 auto;
    width: 680px;
    position: relative;
    height: 1000px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 16px;
}

#mapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hasierako-mezua {
    left: 125px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    top: 0;
}

.daturik-ez {
    display: none; /* Hasieran ezkutuan */
    left: 600px;
    position: absolute;
    text-align: center;
    top: 290px;
}

.datuak {
    display: none; /* Hasieran ezkutuan */
    width: 580px;
    margin-left: auto;
    margin-right: auto;
}

#unitatea-izena {
    font-size: 20px;
    font-weight: bold;
    left: 600px;
    margin-bottom: 10px;
    position: absolute;
    text-align: center;
    top: 260px;
}

.datuak-taula {
    float: left;
    margin-left: 50px;
}

.datuak-taula .eskuinekoa {
    text-align: right;
}